@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  scrollbar-width: thin;
  scrollbar-color: #4C1D95;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4C1D95;
  border-radius: 14px;
}
